/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************************/
/* end http://meyerweb.com/eric/tools/css/reset/ */
/*************************************************/

/******* Global styles ******/
html, body {
	background: #afa08c;
    color: black;
    font-family: Helvetica, serif;
	}

div {
    margin: 5px 5px 5px 5px;
    padding: 1px 1px 1px 1px;
}

h1, h2, h3 { 
    font-size: 1.25em;
    font-weight: 900;
    font-family: Garamond, serif;
}

h4, h5, h6 { 
    font-size: 1em;
    font-family: Garamond, serif;
}

p {
    font-size: 1em;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: black
}

footer {
    box-sizing: border-box;
    background-color: #e3a859;
    color: black;
    border: 4px solid #4b361b;
    width: 200px;
    height: auto;
    padding: 3px;
    float:left;        
}

/*header {
    
}*/

/******* homepage styles ******/
.block {
     margin: 1%;
}

#homepagetitle {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #212f3d;

    
}
#pbox {
    box-sizing: border-box;
    background-color: #e3a859;
    color: black;
    border: 4px solid #4b361b;
    width: 200px;
    height: auto;
    padding: 3px;
    float:right;
        
 }

#personalinfo {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #212f3d;
}

#briefhistory {
    font-family: Arial, sans-serif;
    background-color: snow;
    width: 55%;
    color: #212f3d;
}

/******* resume page styles ******/
#ALU_name {
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    color: #212f3d;
}

#ALU_date1 > h3 {
    font-size: 1em;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #212f3d;
}

#ALU_workexp1 {
    font-size: 1em;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: #c1c1c1;
    color: #212f3d;
    list-style-type: square;
}

ul.ALU_WE1 {
    list-style-type: circle;
    color:#030303;
    margin: 20px 2em;
}

/******* hobbies page styles ******/
#limetech {
    font-size: 1.25em;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: #b9de80;
    color: #212f3d;
}

#limetechdes > p{
    margin: 10px;
}

#futureenhancements > h3 {
    background-color: #80dede;
    font-size: 1.25em;
}

#futureenhancements > ul {
    background-color: #b9de80;
}

#futureenhancements > ul > li {
    background-color: #61960f;
}




