/******* Global styles ******/
html, body {
	/*background: #afa08c;*/

    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c49366+0,f0c27b+31,144f89+100 */
background: rgb(196,147,102); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(196,147,102,1) 0%, rgba(240,194,123,1) 31%, rgba(20,79,137,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(196,147,102,1) 0%,rgba(240,194,123,1) 31%,rgba(20,79,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(196,147,102,1) 0%,rgba(240,194,123,1) 31%,rgba(20,79,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c49366', endColorstr='#144f89',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    color: black;
    font-family: 'Roboto', sans-serif;
	}

h1, h2, h3 { 
    font-size: 1.25em;
    font-weight: bold;
}

h4, h5, h6 { 
    font-size: 1em;
}

p {
    font-size: 1em;
    font-weight: normal;
    color: black
}


#homepagetitle {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    color: #212f3d;
}

/* nav bar */

#navbar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

#navbar li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

#navbar a:hover {
   background-color: #144f89;
}

#navbar a.active {
  background-color: #fff;
  color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    #navbar li {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        width: 120px;
        border-bottom: none;
    }

    #navbar li {
        display: inline-block;
        margin-right: -4px;
    }


/*    #navbar li {
        float: left;
    }
    
    #navbar ul {
        overflow:auto;
        width:360px;
        margin: auto;
    }
*/    

}






/* footer styles */
footer  {
    font-size: 1em;
   /* background-color: #e3a859;*/
    color: black;
    border: .25em solid #888888;
    border-radius: 10px;
    padding:  .25% .5% ;
    word-wrap: break-word;
    float:right;
    transition: background-color 0.75s ease;
}

footer:hover {
  background-color: #e8dfd4;
}

/* footer->address styles */
address {
    color: black;
    font-style: normal;
}

address a {
    display: block;
    color: black;
    font-style: italic;
    text-align: center;
}





#personalinfo {
    background-color: antiquewhite;
    color: #212f3d;
}

.pic {    
    border-radius: 15px;
}

#smpic {
    padding: 0px 37px 0px 0px;
}

#smtext p.name {
    padding: 0px 37px 0px 0px;
    margin: 0px;
}

#smtext p.address {
    padding: 0px 25px 0px 0px;
    margin: 0px;
}

#smtext p.email {
    padding: 0px 13px 0px 0px; 
    margin: 0px;
}

#pbox {
    width: 180px;
    margin: 5px;
    padding: 5px;
    background-color: #F0C27B;
    text-align: right;
    border-radius: 15px;
    
    position: relative;
    left: -180px;
    bottom: 0px;
    
    transition: 3s ease;
}

#pbox:hover {
    width: 350px;
}


/*#pbox p{
    font-size: 1em;
    background-color: #e3a859;
    color: black;
    border: .25em solid #5f5445;
    padding: .25%;
    word-wrap: break-word;
    float: left;
        
 }
*/
#briefhistory {
    background-color: snow;
    width: 55%;
    color: #212f3d;
}

/******* resume page styles ******/
#ALU_name {
    font-size: 1em;
    font-weight: 400;
    background-color: lightgreen;
    color: #212f3d;
}

#ALU_date1 > h3 {
    font-size: 1em;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #212f3d;
}

#ALU_workexp1 {
    font-size: 1em;
    font-weight: 400;
    background-color: #c1c1c1;
    color: #212f3d;
    list-style-type: square;
}

ul.ALU_WE1 {
    list-style-type: circle;
    color:#030303;
    margin: .25% 2em;
}

/******* hobbies page styles ******/
#limetech {
    font-size: 1.25em;
    font-weight: 400;
    font-family: 'McLaren', cursive;
    background-color: #b9de80;
    color: #212f3d;
}

#limetechdes > p{
    margin: .25%;
    font-family: 'McLaren', cursive;
}

ul.unraid_list {
    list-style-type: circle;
    color:#030303;
    margin: .25em 2em;
}

#futureenhancements > h3 {
    background-color: #80dede;
    font-size: 1.25em;
}

#futureenhancements > ul {
    background-color: #b9de80;
}

#futureenhancements > ul > li {
    background-color: #61960f;
}




