/******* Global styles ******/

html {
	background-size: cover;
}

body {
	color: black;
	font-family: 'Roboto', sans-serif;
	/* experimenting with backgroung gradient */
	/* 3 color points to shift from upper left to bottom right */
	/*light to dark */
	background: linear-gradient(-45deg, #144f89 0%, #e2ceb0 31%, #c49366 100%);
}

h1,
h2,
h3 {
	font-size: 1.1667em;
	line-height: 1.286em;
	margin-top: 1.286em;
	margin-bottom: 1.286em;
	font-weight: bold;
}

h4,
h5,
h6 {
	font-size: 1em;
}

a[href^="mailto:"] {
	color: #136caa;
}

a[href^="mailto:"] {
	color: #136caa;
}

span {
	white-space: nowrap;
	font-weight: bold;
}

#homeWrapper {
	width: 100%;
}
section {
	display:block;
}

header h1 {
	background-color: #136caa;
	color: #e8dfd4;
	height: auto;
	text-align: center;
	margin: 0;
}

#history {
	float: left;
}

/* Home page styles */

#personal p {
	width: 100%;
	text-align: center;
	padding: 0;
	font-size: 1.75em;
	font-weight: 600;
}

#briefHistory {
  /*background-color: azure;*/
  /*border: 2px;*/
 box-shadow: 6px 6px 6px 6px black;
  width: 50%;
  margin-left: 25%;
  color: #212f3d;
  
  border-style: solid;
  border-width: 28px 29px 27px 28px;
  -moz-border-image: url(../images/border1.png) 28 29 27 28 repeat;
  -webkit-border-image: url(../images/border1.png) 28 29 27 28 repeat;
  -o-border-image: url(../images/border1.png) 28 29 27 28 repeat;
  border-image: url(../images/border1.png) 28 29 27 28 fill repeat;
}

#briefHistory h2 {
	font-size: 1.1667em;
	line-height: 1.286em;
	margin: 1.286em;
	margin-top: 1.4em;
}

#briefHistory p {
	font-size: 1.1667em;
	line-height: 1.286em;
	margin: 1.286em;
}

/*********************************************/
/* navigation bar forscreen size below 600px */
/* the buttons will stack verically          */
/*********************************************/

#navbar {
	font-family: 'Roboto', sans-serif;
	background: #b1b1b1;
	padding: 10px 5px;
	width: 100%;
}

#navbar ul {
	list-style-type: none;
	/*remove the bullet point from list */
	text-align: center;
}

#navbar ul li {
  padding: 15px 20px;
  font-size: 1.5em;
  border-color: #fff0f0;
}

#navbar a {
	color: #fff;
 /*remove the underline from the links*/
	text-decoration: none;
}

#navbar a {
	letter-spacing: 0.035em;
	text-shadow: 0px -1px 0px #b1b1b1;
	padding: 5px 12px;
	/*add a gradient to the background*/
	/*background: #136caa;*/
	/* gradual shift from upper left corner to lower right corner*/
	background: linear-gradient(-45deg, #136caa, #4f98cb);
	/*add a curve to the corners of the button*/
	border-radius: 10px;
	/*add a drop shadow to the button*/
	box-shadow: #5d646a 0 1px 10px;
}

#navbar a:hover,
#navbar a:focus {
	color: #e0e0d5;
	text-shadow: none;
	/* reduce the size of the box-shadow to give an */
  /* impression of the button being pushed */
	box-shadow: #5d646a 0 0 2px;
}

#navbar a.active {
	background: #136caa;
	color: #ddeaf4;
	border: 3px solid #e8dfd4;
	cursor: default;
	box-shadow: #5d646a 0 0 2px;
}

/***************************************/
/* navbar for screen size above 600px  */
/* the buttons will stack horizontally */
/***************************************/

@media screen and (min-width: 600px) {
  #navbar ul li {
    display: inline;
    padding: 20px 40px;
    font-size: 1.2em;
  }
  #navbar a.active {
    background: #136caa;
    color: #ddeaf4;
    border: 3px solid #e8dfd4;
    cursor: default;
    box-shadow: #5d646a 0 0 2px;
  }
  #navbar a {
    letter-spacing: 0.035em;
    text-shadow: 0px -1px 0px #b1b1b1;
    padding: 5px 12px;
    /*add a gradient to the background*/
    /* background: #136caa;*/
    /* gradual shift from upper left corner to lower right corner*/
    background: linear-gradient(-45deg, #136caa, #4f98cb);
    /*add a curve to the corners of the button*/
    border-radius: 10px;
    /*add a drop shadow to the button*/
    box-shadow: #5d646a 0 1px 10px;
  }
}
.pic {
	border-radius: 15px;
}

#smpic {
	padding: 0px 37px 0px 0px;
}

#smtext p.name {
	padding: 0px 37px 0px 0px;
	margin: 0px;
}

#smtext p.address {
	padding: 0px 25px 0px 0px;
	margin: 0px;
}

#smtext p.email {
	padding: 0px 13px 0px 0px;
	margin: 0px;
}


/* using transition to slide out picture */

#pbox {
	width: 180px;
	margin: 5px;
	padding: 5px;
	background-color: #efd6b1;
	text-align: right;
	border-radius: 15px;
	border-color: #144f89;
	border-width: 5px;
	position: relative;
	left: -180px;
	bottom: 0px;
	/* speed of slide */
	transition: 3s ease;
}

/* distance of the slide */

#pbox:hover {
	width: 350px;
}


/*******************************************/
/* footer style, some fun with transitions */
/*******************************************/

footer {
	font-size: 1em;
	background-color: #4f98cb;
	color: black;
	border: .25em solid black;
	border-radius: 10px;
	padding: .25% .5%;
	margin: 2% 3%;
	word-wrap: break-word;
	float: right;
	box-shadow: 6px 6px 6px 6px black;
	transition: background-color 0.75s ease;
}

footer:hover {
	background-color: #e8dfd4;
}

/* footer->address styles */

address {
	color: black;
	font-style: normal;
}

address a[href^="mailto:"] {
	display: block;
	color: black;
	font-style: italic;
	text-align: center;
}

/******* resume page styles ******/

.clear {
	clear: both;
}

#resumeContainer {
	width: 95%;
	max-width: 900px;
	background: #f3f3f3;
	margin: 30px auto;
}

#top {
	padding: 15px 15px 15px 15px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#contactInfo ul li a:hover {
	color: #cf8a05;
}

#contactInfo ul li a,
a[href^=tel] {
	color: #136caa;
	text-decoration: none;
	transition: all .3s ease-in;
}

#personalInfo h1,
#personalInfo h2 {
	font-size: 2.75em;
	font-weight: 600;
	margin-top: -1px;
	margin-bottom: -38px;
}

#personalInfo h3 {
	font-size: 2em;
	font-weight: 400;
	margin-left: 5px;
	margin-bottom: -10px;
}

#personalInfo {
	float: left;
}

#contactInfo ul {
	font-family: 'Overpass Mono', Helvetica, Arial, sans-serif;
	font-size: .8em;
	line-height: 1.2em;
	list-style-type: none;
	float: right;
}

#contactInfo ul li:before {
	content: "";
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}


#bottom {
	padding: 0px 30px;
}

#sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionContent2 {
	float: right;
	width: 72.5%;
}


#skills {
	border-bottom: 1px solid #dedede;
	/*padding: 10px 0 0; */
}

.sectionTitle h1,
.sectionTitle h2,
.sectionTitle h3
{
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.5em;
	display:inline-block;
	margin: 5px 0px 0px 0px;
	color: #cf8a05;
}

#hclExp {
	border-bottom: 1px solid #dedede;
	/*padding: 10px 0 0; */
}

.sectionContent ul {
	list-style-type: none;
	list-style-position: inside;
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	columns: 2;
}

.sectionContent ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	text-align: right;
	margin: 0 6px 0 0;
}

.sectionContent2 ul {
	list-style-type: none;
	list-style-position: inside;
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
}

.sectionContent2 ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	text-align: right;
	margin: 0 6px 0 0;
}




#hclExp {
	border-bottom: 1px solid #dedede;
}

#hclExp h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.5em;
	margin: 5px 0px 0px 0px;
	color: #cf8a05;
}

#hclExp h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin: 5px 0px 0px 0px;
}

.subTitle {
	font-size: 1em;
	font-style: italic;
	margin: 3px 0px 0px 0px;
}

#hclList ul {
	list-style-type: none;
	list-style-position: inside;
	columns: 1;
}

#hclList ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

#alu1 {
	border-bottom: 1px solid #dedede;
}

#alu1 h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin: 5px 0px 0px 0px;
}

#alu2 {
	border-bottom: 1px solid #dedede;
}

#alu2 h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin: 5px 0px 0px 0px;
}

#aluList1 ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0 0 0 10px;
	text-indent: -1em;
	columns: 1;
}

#aluList1 ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

#alu3 {
	border-bottom: 1px solid #dedede;
}

#alu3 h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin: 5px 0px 0px 0px;
}

#aluList3 ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0 0 0 10px;
	text-indent: -1em;
	columns: 1;
}

#aluList3 ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

#att {
	border-bottom: 1px solid #dedede;
}

#att h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin: 5px 0px 0px 0px;
}

#attList ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0 0 0 10px;
	text-indent: -1em;
	columns: 1;
}

#attList ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

#attList ul li:before {
	background: #136caa;
}

#education {
	border-bottom: 1px solid #dedede;
}

#edList ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0 0 0 10px;
	text-indent: .5em;
	columns: 1;
}

#edList ul li:before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #cf8a05;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

/******* hobbies page styles ******/

#limetech {
	font-size: 1.25em;
	font-weight: 400;
	font-family: 'McLaren', cursive;
	background-color: #b9de80;
	color: #212f3d;
}

#limetechdes p {
	margin: .25%;
	font-family: 'McLaren', cursive;
}

ul.unraid_list {
	list-style-type: circle;
	color: #030303;
	margin: .25em 2em;
}

#limevideos {
	width: 85%;
}

#limevideos ul {
	padding: 20px 5px;
}

#futureEnhcanements {
	font-size: 1.25em;
	font-weight: 400;
	font-family: 'McLaren', cursive;
	background-color: #b9de80;
	color: #212f3d
}

#futureEnhancements h3 {
	background-color: #80dede;
	font-size: 1.25em;
}

